.action-btn {
  background-color: $background-color-blue;
  box-shadow: 0px 10px 40px $shadow-color-button-light-blue;
  color: $color-white;
  height: 50px;
  border: none;
}
.line {
  box-shadow: 0px 2px 0px $shadow-color-line-light-blue;
  border: 2px solid $border-color-blue;
  width: 80px;
  margin: 0;
  margin-top: 10px;
}
