.footer {
  background-color: $background-color-white;

  &__block-main {
    display: flex;
    background-color: $background-color-footer-light-orange;
    height: 130px;
    padding: 40px;
    margin-bottom: 90px;
    position: relative;
    @include for-large-up {
      margin: 0;
      padding: 40px 0 40px 160px;
    }
  }

  &__logo {
    display: flex;
  }
  &__logo_image {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/LogoSmallSolid.png");
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  &__text_box {
    margin: 0;
    background-color: $background-color-footer-light-blue;
    height: 50px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $text-color-blue;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $text-color-blue;
  }

  &__terms {
    display: none;
    @include for-large-up {
      display: flex;
      line-height: 50px;
      margin-left: 70px;
    }
  }
  &__terms_item {
    color: $color-black;
    text-decoration: none;
    display: block;
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
  &__social-links {
    margin-left: 70px;
    padding-top: 15px;
  }
  &__social-links_item {
  }
  &__social-links_item:first-child {
    margin-right: 38px;
    @include for-large-up {
      margin-right: 35px;
    }
  }
  &__image {
    filter: drop-shadow(2px 6px 12px $shadow-color-orange);
    width: 90px;
    height: 75px;
    position: absolute;
    right: 40px;
    bottom: 0px;
    @include for-large-up {
      width: 120px;
      height: 100px;
      right: 80px;
    }
  }
}
