.reviews {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 120px 50px;
  @include for-large-up {
    flex-direction: row;
    padding: 90px 160px 120px 160px;
   
  }
  &__container {
    width: 540px;
    height: 280px;
    background-color: white;
    padding: 50px;
    filter: drop-shadow(0px 20px 60px $shadow-color-review-light-blue);
  }

  &__container:first-child {
    margin-bottom: 50px;
    @include for-large-up {
      margin-right: 40px;
    }
  }

  &__block {
    display: flex;
  }

  &__characteristics {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }

  &__position {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: $text-color-blue;
    opacity: 0.8;
    mix-blend-mode: normal;
  }

  &__quotes {
    position: absolute;
    top: 40px;
    right: 40px;
    filter: drop-shadow(1px 5px 8px $shadow-color-light-grey);
  }

  &__feedback {
    margin: 0;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
}
