.user {
  display: none;
  @include for-large-up {
    display: block;
    padding: 0 120px 120px 120px;
  }
  &__explanation {
    @include for-large-up {
      margin: 0;
      padding-left: 40px;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
    }
  }
  &__line {
    @include for-large-up {
    }
  }
  &__contant {
    padding: 38px 0 20px 0;
  }
  &__container {
    @include for-large-up {
      display: flex;
    }
  }
  &__container:first-child {
    @include for-large-up {
      padding-bottom: 20px;
      padding-left: 40px;
    }
  }
  &__container:last-child {
    @include for-large-up {
      padding-left: 40px;
    }
  }

  &__blocks {
    @include for-large-up {
      width: 360px;
      background-color: #ffffff;
      box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    }
  }
  &__blocks:nth-child(2) {
    @include for-large-up {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  &__title {
    @include for-large-up {
      margin: 0;
      text-transform: capitalize;
      color: $text-color-blue;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
      padding: 20px;
    }
  }
  &__text {
    @include for-large-up {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      padding: 0 20px 20px 20px;
    }
  }
}
