$color-black: #11223f;
$color-white: #ffff;

$text-color-blue: #1968fc;

$background-color-blue: #1968fc;
$background-color-white: #ffff;
$background-color-light-blue: #f3f7ff;
$background-color-footer-light-blue: #1968fc0d;
$background-color-footer-light-orange:#FBFBFB;


$border-color-blue: #1968fc;

$shadow-color-line-light-blue: #d1e1fe;
$shadow-color-white: #ffffff66;
$shadow-color-button-light-blue: #1968fc4d;
$shadow-color-button-block-light-blue: #3145f41a;
$shadow-color-orange: #ff83334d;
$shadow-color-review-light-blue: #1968fc1a;
$shadow-color-light-grey: #f0f2f4;
